@import "/src/styles/_colors";
@import "/src/styles/_variables";


.button {
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    font-family: inherit;
    font-weight: 700;
    max-width: 176px;
    width: 100%;
}

.disabled {
    opacity: 0.5;
    border: solid 1px $base-gray;
    color: $base-gray;
}

.big {
    font-size: $font-size-btn-big;
    padding: 8px 0;
}

.small {
    font-size: $font-size-btn-small;
    padding: 18px 0;
}

.transparent {
    background: transparent;
    border: solid 1px $base-button;
    color: $base-button;

    &:hover {
        background: rgba($base-button, 0.05)
    }
}

.purple {
    background: $base-purple;
    color: $base-white;
}