@import "/src/styles/_colors";
@import "/src/styles/_variables";

.layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .logo {
        color: $base-black;
        font-weight: 700;
        font-size: 24px;
        transition: 0.3s ease;

        &:hover {
            color: rgba($base-black, 0.7);
        }
    }

    .main {
        flex: 1;

        .container {
            max-width: 1120px;
            min-width: 300px;
            margin: 0 auto;
            padding: 0px 75px;
            box-sizing: content-box;
            position: relative;
        }
    }
}

@media (max-width: 767px) {

    .layout {

        .logo {
            font-size: 22px;
        }

        .main {

            .container {
                padding: 0px 15px;
            }
        }
    }
}