@import "/src/styles/_colors";
@import "/src/styles/_variables";

.burgerWrap {
    position: relative;

    .burgerButton {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        background-color: transparent;
        height: 30px;
        padding: 8.5px 5.5px;
        cursor: pointer;
        display: none;

        &:hover {
            box-shadow: 1px 2px 5px rgba($base-black, 0.4);
            border-radius: 25%;
        }

        .band {
            display: block;
            width: 16px;
            border: solid 1.5px $base-black;
            border-radius: 3px;
        }
    }

    .active {
        transition: 0.3s ease;
        rotate: 90deg;
        background: $base-gray-background;
        box-shadow: 1px 2px 5px rgba($base-black, 0.4);
        border-radius: 25%;
    }

    .inactive {
        transition: 0.3s ease;
    }
}

@media (max-width: 767px) {

    .burgerWrap {

        .burgerButton {
            display: flex;
        }
    }
}