@import "/src/styles/_colors";
@import "/src/styles/_variables";

.totalPrice {
    font-weight: 700;
    font-size: 24px;
    color: $base-black;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media (max-width: 767px) {

    .totalPrice {
        font-size: 18px;
    }
}