@import "/src/styles/_colors";
@import "/src/styles/_variables";

.counter {
    position: absolute;
    bottom: 3px;
    right: 0;

    color: #FFF;
    font-family: "Montserrat";
    font-size: 10px;
    font-weight: 500;
    background: $base-red;
    padding: 0px 3px;
    border-radius: 50%;

    text-align: center;
}