@import "/src/styles/_colors";
@import "/src/styles/_variables";

.editableArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 29px;
    padding: 17px 29px;
    max-width: 353px;
    min-height: 345px;
    width: 100%;
    background: #ffe0e2;
    box-shadow: 0 24px 36px 0 rgba(53, 49, 84, 0.28);

    .title {
        font-weight: 700;
        font-size: 12px;
        color: $base-black;
        text-transform: uppercase;
    }

    .textArea {
        font-weight: 600;
        font-size: 12px;
        background: transparent;
        width: 100%;
        height: 100%;
        resize: none;
        outline: none;
        color: $base-gray;
    }
}