@import "/src/styles/_colors";
@import "/src/styles/_variables";

.goods {
    margin: 87px 0 117px;
}

.orderPanel {
    margin-bottom: 87px;

    .totalPrice {
        font-weight: 700;
        font-size: 24px;
        color: $base-black;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {

    .orderPanel {
    
        .totalPrice {
            font-size: 18px;
        }
    }
}